.todo-menu{
  @include df(flex-start, center);
  padding: 7px;

  &__left-side{
    //@include df(flex-start, center);
    width: 50%;
  }

  &__right-side{
    //@include df(flex-end, center);
    width: 50%;
  }
}