.navigation{
  background: $main-color;
  color: #fff;
  height: 45px;
  padding: 0px $corner-padding;

  @include df(center, center);
  .right-side , .left-side{
    width: 50%;
    align-items: center;
  }
}