input[type="text"], input[type="password"]{
  border-radius: $border-radius;
  border: 1px solid $stronger-grey;
  padding: $padding * 0.8;
  outline: none;
  transition: .1s all;

  &:focus, &:hover{
    border-color: $reversed-theme-color;
  }
}

// checkbox
// simple checkbox
.simple-checkbox { display: none; }

.simple-checkbox + label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.simple-checkbox + label:last-child { margin-bottom: 0; }

.simple-checkbox + label:before {
  content: '  ';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: $border-radius;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.simple-checkbox:checked + label:before {
  width: 7px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
// important-checkbox
.important-checkbox{
  display: none;
}

.important-checkbox + label {
  @extend button;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  margin-right: $margin;
  background: $main-color;
  color: $theme-color;
  @include color-hover($theme-color, $main-color);
}

// radio
input[type="radio"] { display: none; }

input[type="radio"] + label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="radio"] + label:last-child { margin-bottom: 0; }

input[type="radio"] + label:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .06s;
  transition: all .1s, border-color .06s;
}

input[type="radio"]:checked + label:before {
  width: 7px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
