@mixin df ($j-c: flex-start, $al-i: flex-start, $fl-d: row, $fl-w: wrap) {
  display: flex;
  justify-content: $j-c;
  align-items: $al-i;
  flex-direction: $fl-d;
  flex-wrap: $fl-w;
}

@mixin color-hover($bg, $color, $time: $transition-time) {
  transition: color $time, background $time;
  &:hover{
    background: $bg;
    color: $color;
    @content;
  }
}