@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
}

button, .important-checkbox + label, input, select, option {
  font-family: inherit;
}

button, .important-checkbox + label {
  border: none;
  background: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.left-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #a6a6a6;
}

input[type=text], input[type=password] {
  border-radius: 2px;
  border: 1px solid #a6a6a6;
  padding: 6.4px;
  outline: none;
  transition: 0.1s all;
}
input[type=text]:focus, input[type=text]:hover, input[type=password]:focus, input[type=password]:hover {
  border-color: #000;
}

.simple-checkbox {
  display: none;
}

.simple-checkbox + label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.simple-checkbox + label:last-child {
  margin-bottom: 0;
}

.simple-checkbox + label:before {
  content: "  ";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

.simple-checkbox:checked + label:before {
  width: 7px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.important-checkbox {
  display: none;
}

.important-checkbox + label {
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  margin-right: 8px;
  background: #db4c3f;
  color: #fff;
  transition: color 0.1s, background 0.1s;
}
.important-checkbox + label:hover {
  background: #fff;
  color: #db4c3f;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type=radio] + label:last-child {
  margin-bottom: 0;
}

input[type=radio] + label:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.06s;
  transition: all 0.1s, border-color 0.06s;
}

input[type=radio]:checked + label:before {
  width: 7px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  height: calc(100vh - 45px);
  position: relative;
}

.navigation {
  background: #db4c3f;
  color: #fff;
  height: 45px;
  padding: 0px 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.navigation .nav-button {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  padding: 4px;
  margin-right: 8px;
  margin-left: 8px;
  transition: color none, background none;
}
.navigation .nav-button:hover {
  background: rgba(242, 242, 242, 0.3);
  color: inherit;
}
.navigation__right-side, .navigation__left-side {
  width: 50%;
  display: flex;
  align-items: center;
}
.navigation .accbar {
  background: #fff;
  color: #000;
  padding: 12px;
  border-radius: 2px;
  position: absolute;
  z-index: 9999;
  top: 45px;
  right: 30px;
  min-width: 230px;
  box-shadow: 0px 6px 15px -5px rgba(0, 0, 0, 0.75);
}
.navigation .accbar__txt {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navigation .accbar__btn {
  color: #fff;
  background: #db4c3f;
  border: 1px solid #db4c3f;
  margin-top: 8px;
  font-size: 0.8rem;
  transition: color 0.1s, background 0.1s;
}
.navigation .accbar__btn:hover {
  background: #fff;
  color: #db4c3f;
}

.main-sidebar {
  background: #f2f2f2;
  height: 100%;
  max-width: 300px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  overflow-y: auto;
  transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}
.main-sidebar_hidden {
  margin-left: -300px;
}
.main-sidebar__btn {
  display: flex;
  align-items: center;
  border-radius: 2px;
  background: #fff;
  margin-left: 8px;
  color: #db4c3f;
  font-size: 0.8rem;
  position: relative;
  transition: color 0.1s, background 0.1s;
}
.main-sidebar__btn:hover {
  background: #db4c3f;
  color: #fff;
}
.main-sidebar .team-block .list-elem a {
  display: flex;
  justify-content: space-between;
}
.main-sidebar .team-block .list-elem__name {
  font-weight: normal;
}
.main-sidebar .created-team {
  margin-top: 24px;
}
.main-sidebar .list-of-teams__list .list-elem {
  margin-bottom: 8px;
  padding-top: 4.8px;
  padding-bottom: 4.8px;
  padding-right: 8px;
  padding-left: 8px;
  transition: color 0.1s, background 0.1s;
}
.main-sidebar .list-of-teams__list .list-elem__left-side, .main-sidebar .list-of-teams__list .list-elem__right-side {
  display: flex;
  align-items: center;
}
.main-sidebar .list-of-teams__list .list-elem__task-count {
  color: #a6a6a6;
}
.main-sidebar .list-of-teams__list .list-elem:hover {
  background: #e2e2e2;
  color: black;
}
.main-sidebar .list-of-teams .create-team-button {
  cursor: pointer;
  color: #db4c3f;
  font-size: 0.8rem;
}
.main-sidebar .list-of-teams__form {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.main-sidebar .list-of-teams__input {
  width: 100%;
}
.main-sidebar .list-of-teams__add-btn {
  font-size: 0.8rem;
  padding: 8px;
  margin: 0;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  width: 100%;
  height: calc(100%);
  overflow: auto;
}

.todo-btn {
  display: flex;
  align-items: center;
  border-radius: 2px;
  background: #db4c3f;
  margin-right: 8px;
  color: #fff;
  font-size: 1.2rem;
  position: relative;
  transition: color 0.1s, background 0.1s;
}
.todo-btn:hover {
  background: #fff;
  color: #db4c3f;
}

.todo-menu {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 7px;
}
.todo-menu__team-name {
  font-weight: 600;
  font-size: 2rem;
}
.todo-menu__left-side {
  width: 50%;
}
.todo-menu__right-side {
  width: 50%;
  position: relative;
}

.todo-task {
  max-width: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px;
  margin-bottom: 8px;
  background: #fff;
  position: relative;
  transition: color 0.1s, background 0.1s;
}
.todo-task:hover {
  background: #f2f2f2;
  color: inherit;
}
.todo-task__right-side, .todo-task__left-side {
  display: flex;
  align-items: center;
}
.todo-task__left-side {
  width: calc(100% - 80px);
}
.todo-task__right-side {
  min-width: 180px;
}
.todo-task__task-name {
  font-weight: normal;
}
.todo-task__delete-btn {
  display: flex;
  align-items: center;
  border-radius: 2px;
  background: #db4c3f;
  color: #fff;
  font-size: 1rem;
  transition: color 0.1s, background 0.1s;
}
.todo-task__delete-btn:hover {
  background: #fff;
  color: #db4c3f;
}
.todo-task_completed {
  color: #f2f2f2;
  transition: color 0.1s, background 0.1s;
}
.todo-task_completed .todo-task__task-name {
  text-decoration: line-through;
}
.todo-task_completed .todo-task__delete-btn, .todo-task_completed .todo-task__important-checkbox + label, .todo-task_completed .todo-btn {
  background: #f2f2f2;
}
.todo-task_completed:hover {
  background: #fff;
  color: #f2f2f2;
}

.todo-create-task {
  cursor: pointer;
  color: #db4c3f;
}
.todo-create-task__button {
  display: flex;
  align-items: center;
}

.todo-create-task-form {
  cursor: default;
  transition: color 0.1s, background 0.1s;
}
.todo-create-task-form:hover {
  background: #fff;
  color: none;
}
.todo-create-task-form .right-side {
  min-width: 120px;
}
.todo-create-task-form__add-btn {
  font-size: 0.9rem;
}
.todo-create-task-form__time-btn, .todo-create-task-form__remind-btn {
  font-size: 1.2rem;
}
.todo-create-task-form__input {
  font-size: 1rem;
  border: none !important;
  width: 100%;
}

.todo-list {
  max-width: 900px;
  width: 100%;
  padding: 20px;
}

.todo-timepicker {
  position: absolute;
  top: 50px;
  background: #fff;
}
.todo-timepicker__time {
  right: 94px;
}
.todo-timepicker__remind {
  right: 59px;
}
.todo-timepicker__hidden {
  display: none;
}

.todo-sidebar {
  position: relative;
  min-width: 350px;
}
.todo-sidebar__upper-menu, .todo-sidebar__details, .todo-sidebar__steps {
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.todo-sidebar__upper-menu {
  display: flex;
  align-items: center;
}
.todo-sidebar__title {
  font-size: 1.4rem;
}
.todo-sidebar__close-btn {
  font-size: 0.8rem;
  margin: 0;
  position: absolute;
  right: 17.6px;
  top: 17.6px;
}
.todo-sidebar__todo-title {
  font-size: 0.8rem;
  margin-left: 8px;
  overflow: hidden;
}
.todo-sidebar__sm-title {
  font-weight: bold;
  font-size: 1.2rem;
}
.todo-sidebar__form {
  padding: 8px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-sidebar__form .left-side {
  width: 100%;
}

.todo-sorter {
  background: #fff;
  color: #000;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  z-index: 9999;
  top: -5px;
  right: 40px;
  min-width: 130px;
  box-shadow: 0px 6px 15px -5px rgba(0, 0, 0, 0.75);
}
.todo-sorter__txt {
  margin-top: 8px;
  margin-bottom: 8px;
}
.todo-sorter__btn {
  color: #db4c3f;
  background: #fff;
  border: 1px solid #db4c3f;
  margin: 4px;
  font-size: 0.9rem;
  transition: color 0.1s, background 0.1s;
}
.todo-sorter__btn:hover {
  background: #db4c3f;
  color: #fff;
}

.authpage {
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.authpage hr {
  margin-top: 8px;
  margin-bottom: 8px;
}
.authpage__wrap {
  padding: 32px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  min-width: 350px;
}
.authpage__title {
  font-size: 1.6rem;
  line-height: 45px;
}
.authpage__inputs {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding: 4px;
}
.authpage__input {
  margin-bottom: 8px;
  margin-top: 8px;
}
.authpage__alert {
  border: 1px solid #db4c3f;
  padding: 6.4px;
  border-radius: 2px;
  font-size: 0.8rem;
}
.authpage__downbar {
  display: flex;
  justify-content: space-evenly;
}
.authpage__btn {
  margin-top: 16px;
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid #db4c3f;
  padding: 4px 9.6px;
  transition: color 0.1s, background 0.1s;
}
.authpage__btn:hover {
  background: #db4c3f;
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
