@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
}

button, .important-checkbox + label, input, select, option {
  font-family: inherit;
}

button, .important-checkbox + label {
  border: none;
  background: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.left-side {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

input[type=text] {
  border: none;
  border-radius: 2px;
  border: 1px solid #a6a6a6;
  padding: 6.4px;
  outline: none;
  transition: 0.1s all;
}
input[type=text]:focus, input[type=text]:hover {
  border-color: #000;
}

.simple-checkbox {
  display: none;
}

.simple-checkbox + label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.simple-checkbox + label:last-child {
  margin-bottom: 0;
}

.simple-checkbox + label:before {
  content: "  ";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

.simple-checkbox:checked + label:before {
  width: 7px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.important-checkbox {
  display: none;
}

.important-checkbox + label {
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  margin-right: 8px;
  background: #db4c3f;
  color: #fff;
  transition: color 0.1s, background 0.1s;
}
.important-checkbox + label:hover {
  background: #fff;
  color: #db4c3f;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type=radio] + label:last-child {
  margin-bottom: 0;
}

input[type=radio] + label:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.06s;
  transition: all 0.1s, border-color 0.06s;
}

input[type=radio]:checked + label:before {
  width: 7px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  height: calc(100vh - 45px);
  position: relative;
}

.modal {
  top: -45px;
  left: 0;
  z-index: 999;
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}
.modal__content {
  min-height: 200px;
  min-width: 300px;
  background: #fff;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal__header {
  font-weight: 600;
  font-size: 1.2rem;
}
.modal__bar-upper, .modal__bar-footer, .modal__main {
  padding: 16px;
}
.modal__bar-upper {
  border-bottom: 1px solid #f2f2f2;
}
.modal__bar-footer {
  border-top: 1px solid #f2f2f2;
  display: flex;
  justify-content: flex-end;
}
.modal input {
  font-size: 0.9rem;
}
.modal button, .modal .important-checkbox + label {
  font-size: 0.9rem;
  transition: all 0.1s;
}
.modal__btn-cancel {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  margin-right: 8px;
  transition: color 0.1s, background 0.1s;
}
.modal__btn-cancel:hover {
  background: #f2f2f2;
  color: inherit;
  border: 1px solid #000;
}
.modal__btn-action {
  background: #db4c3f;
  color: #fff;
  border: 1px solid #db4c3f;
  transition: color 0.1s, background 0.1s;
}
.modal__btn-action:hover {
  background: #fff;
  color: #db4c3f;
}
.modal_hidden {
  height: 0;
  width: 0;
  display: none;
}

.navigation {
  background: #db4c3f;
  color: #fff;
  height: 45px;
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.navigation .nav-button {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  padding: 4px;
  margin-right: 8px;
  margin-left: 8px;
  transition: color none, background none;
}
.navigation .nav-button:hover {
  background: rgba(242, 242, 242, 0.3);
  color: inherit;
}
.navigation__right-side, .navigation__left-side {
  width: 50%;
  display: flex;
  align-items: center;
}
.main-sidebar {
  background: #f2f2f2;
  height: 100%;
  max-width: 300px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  overflow-y: auto;
  transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}
.main-sidebar_hidden {
  margin-left: -300px;
}
.main-sidebar .team-block .list-elem__name {
  font-weight: normal;
}
.main-sidebar .created-team {
  margin-top: 24px;
}
.main-sidebar .list-of-teams__list .list-elem {
  margin-bottom: 8px;
  padding-top: 4.8px;
  padding-bottom: 4.8px;
  padding-right: 8px;
  padding-left: 8px;
  transition: color 0.1s, background 0.1s;
}
.main-sidebar .list-of-teams__list .list-elem__left-side, .main-sidebar .list-of-teams__list .list-elem__right-side {
  display: flex;
  align-items: center;
}
.main-sidebar .list-of-teams__list .list-elem:hover {
  background: #e2e2e2;
  color: inherit;
}
.main-sidebar .create-team-button {
  cursor: pointer;
  color: #db4c3f;
  font-size: 0.8rem;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  width: 100%;
  height: calc(100%);
}

.todo-menu {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 7px;
}
.todo-menu__team-name {
  font-weight: 600;
  font-size: 2rem;
}
.todo-menu__left-side {
  width: 50%;
}
.todo-menu__right-side {
  width: 50%;
}

.todo-task {
  max-width: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px;
  margin-bottom: 8px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  transition: color 0.1s, background 0.1s;
}
.todo-task:hover {
  background: #f2f2f2;
  color: inherit;
}
.todo-task__right-side, .todo-task__left-side {
  display: flex;
  align-items: center;
}
.todo-task__left-side {
  width: calc(100% - 80px);
}
.todo-task__right-side {
  min-width: 80px;
}
.todo-task__task-name {
  font-weight: normal;
}
.todo-task__delete-btn {
  display: flex;
  align-items: center;
  border-radius: 2px;
  background: #db4c3f;
  color: #fff;
  font-size: 1rem;
  transition: color 0.1s, background 0.1s;
}
.todo-task__delete-btn:hover {
  background: #fff;
  color: #db4c3f;
}
.todo-task_completed {
  color: #f2f2f2;
  transition: color 0.1s, background 0.1s;
}
.todo-task_completed .todo-task__task-name {
  text-decoration: line-through;
}
.todo-task_completed .todo-task__delete-btn, .todo-task_completed .todo-task__important-checkbox + label {
  background: #f2f2f2;
}
.todo-task_completed:hover {
  background: none;
  color: #f2f2f2;
}

.todo-create-task {
  cursor: pointer;
  font-size: 0.9rem;
  color: #db4c3f;
}
.todo-create-task__button {
  display: flex;
  align-items: center;
}

.todo-list {
  max-width: 900px;
  width: 100%;
  height: calc(100% - 40px);
  padding: 7px;
}

.todo-form {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40px;
}
.todo-form__form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.todo-form__left-side {
  width: calc(100% - 300px);
}
.todo-form__right-side {
  width: 300px;
}
.todo-form .todo-form__task-text-input {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
