.todo{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: $corner-padding;
  padding-left: $corner-padding;
  padding-top: $padding-top;
  width: 100%;
  height: calc(100%);
  //background: $light-blue;
}

.todo-btn{
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    background: $main-color;
    color: $theme-color;
    font-size: 1rem;
    position: relative;
    @include color-hover($theme-color, $main-color);
}

.todo-menu{
  max-width: $todo-width;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 7px;

  &__team-name{
    font-weight: 600;
    font-size: 2rem;
  }

  &__left-side{
    width: 50%;
  }

  &__right-side{
    width: 50%;
  }
}

.todo-task {
  max-width: $todo-width;
  width: 100%;
  display: flex;
  align-items: center;
  padding: $padding * 2;
  margin-bottom: $margin;
  background: #fff;
  position: relative;
  //border-bottom: 1px solid transparentize(#000, 0.8);
  //border-top: 1px solid transparentize(#000, 0.8);

  @include color-hover($grey, inherit);

  &__right-side, &__left-side{
    display: flex;
    align-items: center;
  }

  &__left-side {
    width: calc(100% - 80px);
  }

  &__right-side {
    min-width: 80px;
  }

  &__task-name{
    font-weight: normal;
  }

  &__delete-btn{
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    background: $main-color;
    color: $theme-color;
    font-size: 1rem;

    @include color-hover($theme-color, $main-color);
  }

  &_completed{
    color: $grey;
    .todo-task__task-name{
      text-decoration: line-through;
    }
    //.todo-task__complete-checkbox + label:before{
    //  border-color: $grey;
    //}
    .todo-task__delete-btn, .todo-task__important-checkbox + label{
      background: $grey;
    }

    @include color-hover(none, $grey);
  }
}

.todo-create-task{
  cursor: pointer;
  color: $main-color;
  &__button{
    display: flex;
    align-items: center;
  }
}

.todo-create-task-form {
  cursor: default;
  @include color-hover($default-color, none);
  .right-side{
    min-width: 120px;
  }
  &__add-btn{
    font-size: 0.9rem;
  }
  &__time-btn, &__remind-btn{
    font-size: 1.2rem;
  }
  .todo-btn{
    margin-left: $margin;
  }

  &__input{
    font-size: 1rem;
    border: none !important;
    width: 100%;
  }
}

.todo-list{
  max-width: $todo-width;
  width: 100%;
  height: calc(100% - 40px);
  padding: 7px;
}

.todo-timepicker{
  position: absolute;
  top:  50px;

  background: $default-color;

  &__time{
    right: 94px;
  }
  &__remind{
    right: 59px;
  }
  &__hidden{
    display: none;
  }
}
