.todo{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: $corner-padding;
  padding-left: $corner-padding;
  padding-top: $padding-top;
  width: 100%;
  height: calc(100%);
  //background: $light-blue;
}

.todo-menu{
  max-width: $todo-width;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 7px;

  &__team-name{
    font-weight: 600;
    font-size: 2rem;
  }

  &__left-side{
    width: 50%;
  }

  &__right-side{
    width: 50%;
  }
}

.todo-task {
  max-width: $todo-width;
  width: 100%;
  display: flex;
  align-items: center;
  padding: $padding * 2;
  margin-bottom: $margin;
  background: #fff;
  border-bottom: 1px solid transparentize(#000, 0.8);
  border-top: 1px solid transparentize(#000, 0.8);


  @include color-hover($grey, inherit);

  &__right-side, &__left-side{
    display: flex;
    align-items: center;
  }

  &__left-side {
    width: calc(100% - 80px);
  }

  &__right-side {
    min-width: 80px;
  }

  &__task-name{
    font-weight: normal;
  }

  &__delete-btn{
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    background: $main-color;
    color: $theme-font-color;
    font-size: 1rem;

    @include color-hover($theme-font-color, $main-color);
  }
}

.todo-create-task{
  cursor: pointer;
  font-size: 0.9rem;
  color: $main-color;
  &__button{
    display: flex;
    align-items: center;
  }
}

.todo-list{
  max-width: $todo-width;
  width: 100%;
  height: calc(100% - 40px);
  padding: 7px;
}

.todo-form{
  max-width: $todo-width;
  width: 100%;
  @include df(center, center);
  height: 40px;
  &__form{
    width: 100%;
    @include df(flex-start, center);
  }
  &__left-side{
    width: calc(100% - 300px);
  }
  &__right-side{
    width: 300px;
  }
  .todo-form__task-text-input{
    width: 100%;
  }
}