.todo{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: $corner-padding;
  padding-left: $corner-padding;
  padding-top: $padding-top;
  width: 100%;
  height: calc(100%);
  overflow: auto;
}

.todo-btn{
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    background: $main-color;
    margin-right: $margin;
    color: $theme-color;
    font-size: 1.2rem;
    position: relative;
    @include color-hover($theme-color, $main-color);
}

.todo-menu{
  max-width: $todo-width;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 7px;

  &__team-name{
    font-weight: 600;
    font-size: 2rem;
  }

  &__left-side{
    width: 50%;
  }

  &__right-side{
    width: 50%;
    position: relative;
  }
}

.todo-task {
  max-width: $todo-width;
  width: 100%;
  display: flex;
  align-items: center;
  padding: $padding * 2;
  margin-bottom: $margin;
  background: #fff;
  position: relative;
  //border-bottom: 1px solid transparentize(#000, 0.8);
  //border-top: 1px solid transparentize(#000, 0.8);

  @include color-hover($grey, inherit);

  &__right-side, &__left-side{
    display: flex;
    align-items: center;
  }

  &__left-side {
    width: calc(100% - 80px);
  }

  &__right-side {
    min-width: 180px;
  }

  &__task-name{
    font-weight: normal;
  }

  &__delete-btn{
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    background: $main-color;
    color: $theme-color;
    font-size: 1rem;

    @include color-hover($theme-color, $main-color);
  }

  &_completed{
    color: $grey;
    .todo-task__task-name{
      text-decoration: line-through;
    }

    .todo-task__delete-btn, .todo-task__important-checkbox + label, .todo-btn{
      background: $grey;
    }

    @include color-hover($theme-color, $grey);
  }
}

.todo-create-task{
  cursor: pointer;
  color: $main-color;
  &__button{
    display: flex;
    align-items: center;
  }
}

.todo-create-task-form {
  cursor: default;
  @include color-hover($theme-color, none);
  .right-side{
    min-width: 120px;
  }
  &__add-btn{
    font-size: 0.9rem;
  }
  &__time-btn, &__remind-btn{
    font-size: 1.2rem;
  }

  &__input{
    font-size: 1rem;
    border: none !important;
    width: 100%;
  }
}

.todo-list{
  max-width: $todo-width;
  width: 100%;
  padding: $padding-top;
}

.todo-timepicker{
  position: absolute;
  top:  50px;
  border: 1px solid $reversed-theme-color;
  padding: 5px;

  background: $theme-color;

  &__time{
    right: 67px;
  }
  &__hidden{
    display: none;
  }
}

.todo-sidebar{
  position: relative;
  min-width: 350px;

  &__upper-menu, &__details, &__steps{
    border-bottom: 1px solid $stronger-grey;
    padding-bottom: $padding;
    margin-bottom: $margin;
  }

  &__details-block{
    margin-bottom: $margin;
  }

  &__input{
    padding: $padding*0.5 ;
    font-size: 1rem;
    width: 100%;
  }

  &__upper-menu{
    display: flex;
    align-items: center;
  }

  &__title{
    font-size: 1.4rem;
  }

  &__close-btn{
    font-size: 0.8rem;
    margin: 0;
    position: absolute;
    right: $margin * 2.2;
    top: $margin * 2.2;
  }

  &__todo-title{
    font-size: 0.8rem;
    margin-left: $margin;
    overflow: hidden;
  }

  &__sm-title{
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__form{
    padding: $padding;
    background: $theme-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-side{
      width: 100%;
    }
  }
}

.todo-sorter{
    background: $theme-color;
    color: $reversed-theme-color;
    padding: $padding;
    border-radius: $border-radius;
    position: absolute;
    z-index: 9999;
    top: -5px;
    right: 40px;
    min-width: 130px;
    box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.75);

    &__txt{
      margin-top: $margin;
      margin-bottom: $margin;
    }

    &__btn{
      color: $main-color;
      background: $theme-color;
      border: 1px solid $main-color;
      margin: $margin * 0.5;
      font-size: 0.9rem;

      @include color-hover ($main-color,$theme-color,)
    }
}