.main-sidebar {
  background: $grey;
  height: 100%;
  max-width: 300px;
  width: 100%;
  padding-left: $corner-padding;
  padding-right: $corner-padding;
  padding-top: $padding-top;
  overflow-y: auto;
  transition: $transition-time * 4 cubic-bezier(0.33, 1, 0.68, 1);

  &_hidden {
    margin-left: -300px;
  }

  .team-block {
    .list-elem {
      &__name {
        font-weight: normal;
      }
    }
  }

  .created-team {
    margin-top: $margin * 3;
  }

  .list-of-teams {
    &__list {
      .list-elem {
        margin-bottom: $margin;
        padding-top: $padding * 0.6;
        padding-bottom: $padding * 0.6;
        padding-right: $padding;
        padding-left: $padding;

        &__left-side, &__right-side {
          display: flex;
          align-items: center;
        }

        @include color-hover(#e2e2e2, inherit)
      }
    }
    .create-team-button {
      cursor: pointer;
      color: $main-color;
      font-size: 0.8rem;
    }
  }
}

